html {
    font-family: 'Roboto', sans-serif;
    min-width: 375px !important;
    overflow-x: hidden;
}

body {
    background-color: #1E2029 !important;
    color: white !important;
}

nav {
    width: 100%;
    display: flex;
    border-radius: 4px;
    margin-bottom: 3em;

}

#seecode {
    background-color: #3AC2FF;
    border-radius: 4px;
    position: fixed;
    top: -2.5em;
    right: 3em;
    height: 6em;
    padding-top: 0.8em;
    transition: transform 1s;
    box-shadow: 2px 2px 5px #ccc;
    z-index: 1;
}

#seecode:hover {
    transform: translate(0, 1em);
}

nav img {
    width: 4em;
    height: auto;
    padding: .6em .3em;
    transform: translate(0, 1.6em);
}

@font-face {
  font-family: Blockheads;
  src: url(fonts/Blockheads.ttf);
}

#gradient1 {
    background-color: #aaa;
    width: 30em;
    height: 30em;
    position: absolute;
    z-index: -5;
    right: -5em;
    top: -15em;
    border-radius: 5px;
    transform: rotate(65deg);

    background-image: linear-gradient(to top, #FF004A, #FFAB0D);
}

h1 {
    font-family: Blockheads;
    font-size: 4em;
    margin: 0;
    padding: .4em 1em;
    width: 100%;
    text-align: left;
    color: white;
    height: auto;
}

a {
    color: #00DCFF;
}

.video {
    width: 100%;
}

iframe {
    margin: auto;
}

@media screen and (max-width: 572px) {
    .video > iframe {
        width: 100%;
    }
}
